.quill {
    min-height: 10em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: #fefcfc;
  }

  .ql-toolbar {
    background: #eaecec;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom: none;
  }

  .ql-picker.ql-placeholder {
    width: 118px;
  }
  
  .ql-picker.ql-placeholder > span.ql-picker-label::before {
    content: 'Placeholders';
  }
  
  .ql-picker.ql-placeholder > span.ql-picker-options > span.ql-picker-item::before {
    content: attr(data-label);
  }


  .ql-placeholder-content {
    background: yellow;
    border-radius: 4px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 1px;
  }